/*memberi background gambar*/
body{
    background: url('../img/pattern.jpg') repeat;
    padding:0;
    margin: 0;
    font-family: times new roman;
}

/*menyesuaikan ukuran content lebar, posisi dan warna background*/
section{
    margin-top: 20%;
    width:80%;
    margin: 5% auto 0 auto;
    background: #ffffff;
    padding-bottom: 1px;
}

/*memberi jarak antara footer dengan section*/
section > #article-list{
    margin-bottom: 20px;
    padding:4px;
}

/*mengatur header agar permanen posisinya*/
header{
    position: fixed;
    background: #ffffff;
    top:0;
    width:100%;
    padding:0px;
    margin:0px;
    height:55px;
}

/*mengatur tag img yang ada di dalam tag header*/
header > img{
    float:left;
}

/*mengatur tag nav yang ada di dalam tag header*/
header > nav{
    float: right;
}

/*penyesuaian tag ul agar dihilangkan style bullet atau numbering*/
nav > ul{
    list-style: none;
    display: inline-flex;
}

/*mengubah posisi menjadi horizontal*/
nav > ul > li > a{
    font-weight: bold;
    float:left;
    font-size: 14px;
    padding:5px 5px 5px 10px;
    margin-right: 10px;
    text-decoration: none;
}

#article-list a{
    text-decoration: none;
}

#article-list > div{
    border-bottom: 1px solid gray;
    margin: 50px 5px 5px 5px;
}

footer{
    margin: 1% auto 3% auto;
    background: #000;
    padding:3px;
    width:99%;
}

h5{
    text-align: center;
    color:#fff;
}

h1{
    text-align: center;
    padding-top:3%;
}

/** style about.html */
.container-about, .container-kontak{
  border: 1px solid gray;
}

.container-about h1, .container-kontak h1, .container-login h1{
  text-align: center;
  padding:5px;
  font-size:25pt;
}

.container-about a, .container-kontak a{
  text-decoration: none;
  padding: 10px;
  float: right;
  font-weight: bold;
}

.hubungi-kami ol{
  list-style: none;
}

.container-kontak table tr td{
  vertical-align: bottom;
  padding:5px;
  padding-left: 0px;
}
